body {
    background-color: #236;
}

.main {
    background-color: aliceblue;
    width: 70vw;
    height: 96vh;
    border-radius: 15px;
    box-shadow: 2px 2px 5px black;
    position: relative;
    margin: auto;
}

label {
    font: normal 16pt Arial;
}

#res {
    font: bold 20pt Arial;
}

.w {
    text-align: center;
    margin: auto;
    position: relative;
    top: 200px;
}